<div class="service service-summary">
  {{ if .Params.icon }}
  <div class="service-image">
    <img height="80" width="80" src="{{ .Params.icon | relURL }}" alt="{{ .Title }}" />
  </div>
  {{ end }}
  <div class="service-content">
    <h2 class="service-title">
      <a href="{{ .Permalink }}">({{ .Params.year }}) {{ .Title }}</a>
    </h2>
    <p style="font-size: smaller;">DOI: <a href="https://doi.org/{{ .Params.doi }}" target="_blank">{{ .Params.doi }}</a></p>
    {{ if .Params.openaccess }}
      <div>
        <p class="OA">Open Access</p>
      </div>
    {{ end }}
    {{ .Params.authors }}
    {{ .Content | truncate 300 "..." }}
  </div>
</div>